@CHARSET "UTF-8";
body{
padding:0;
margin:0;
height:100%;
width:100%;
}
.zhong{
background:#ccc;
height:200px;
width:400px;
position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
margin:auto;/*页面居中对齐*/
overflow: hidden;/*超出部分会被剪切*/
}
.ban1{
background:#fc0;
border-radius:100px;/*画圆css3*/
width:100px;/*与上*/
height:100px;/*与上*/
position:absolute;
top:-50px;
left:-50px;
}
.ban2{
background:#fc0;
border-radius:100px;/*画圆*/
width:100px;/*与上*/
height:100px;/*与上*/
position:absolute;
bottom:-50px;
right:-50px;
}